.booking-page {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  color: #495E57;
  margin-bottom: 5vh;
}

form {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  width: 50%;
}

form > * {
  display: grid;
  grid-template-rows: auto;
  padding: 1rem;
}

form input, select{
  height: 2rem;
}

form label {
  font-size: large;
}

form button {
  background-color: #F4CE14;
  border: none;
  border-radius: 8px;
  width: 50%;
  justify-self: center;
  color: #495E57;
  font-weight: bold;
}

form button:disabled {
  background-color: #f4cf14a8;
  cursor: not-allowed;
}

.booking-success-header{
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  color: #495E57;
}